<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formadora 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-avatar>
      <img src="assets/Foto.jpg" alt="Minha foto" />
    </ion-avatar>
    <strong>Gabriel Silva do Nascimento</strong>
    <h3>Turma:PAS23103</h3>
    <h3>Matricula:24105346</h3>
    <ion-button size="small" [routerLink]="['/detalhes']">Mais detalhes</ion-button>
  </div>
</ion-content>