<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalhes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">

    <h1>Detalhes sobre mim</h1>
    <h3>Me chamo Gabriel e estou cursando ADS a 4 semestres. O curso é ótimo.</h3>
    <h3>Sou Flamenguista!</h3>
    <ion-button size="small" [routerLink]="['/']">Inicio</ion-button>
  </div>
</ion-content>

